.root {
  --icon-height: 24px;

  position: fixed;
  inset: var(--topbar-space-above) 0 var(--topbar-space-below) 0;
  height: var(--topbar-height);
  transition:
    top 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    left 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    right 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    opacity 2s ease-out;
  transition-delay: 0.1s;
  /* double selector and important because this particular panel doesn't want the big rounded corners. */
  &.root {
    border-radius: 0 !important;
  }
  &.inPreview {
    top: 0;
    right: 0;
    left: 0;
    transition-delay: 1s;
    opacity: 0.2;
    border-radius: 0;
    &:hover {
      transition:
        top 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        left 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        right 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        opacity 0.1s ease-in;
      transition-delay: 0s;
      opacity: 1;
    }
  }
}
/* Select the class twice for precedence over the Radix .rt-reset. */
.topBarButton.topBarButton {
  margin: 0;
}

.verticalDivider {
  height: 16px;
  border-right: 1px solid var(--gray-a6);
}

