.scrollArea {
  border: 1px solid var(--slate-6);
  border-radius: var(--radius-3);
}

.tabList {
  box-shadow: none !important; /* Override default box shadow from Radix */
}

.tabTrigger {
  padding-right: var(--space-1) !important;
  padding-left: var(--space-1) !important;
}

.addToComponentsButton {
  padding-top: var(--editor-space-side);
  padding-bottom: var(--editor-space-side);
  border-bottom: 1px solid var(--slate-6);
}
