.dialogContent {
  padding: var(--space-4) !important;
  border-radius: var(--radius-3) !important;
  box-shadow: var(--shadow-2) !important;
}

.title {
  margin-bottom: var(--space-2);
  padding-bottom: var(--space-2);
  border-bottom: 1px solid var(--slate-4);
  line-height: 1 !important;
}

.fieldLabel {
  color: var(--slate-11);
}
