.panel {
  border-radius: var(--panel-border-radius) !important;
  /* Glass effect */
  background: transparent linear-gradient(173deg, rgba(255, 255, 255, 0.80) 0.02%, rgba(255, 255, 255, 0.90) 100.05%) !important;
  box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.08) !important;
  backdrop-filter: blur(47.5px);

}

.animateOff {
  transition:
    transform 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    opacity 0.2s ease-in;
}

.offLeft,
.offRight {
  pointer-events: none;
  opacity: 0;
}

.offLeft {
  transform: translateX(-110%) scale(0.8);
  transform-origin: left center;
}

.offRight {
  transform: translateX(110%) scale(0.8);
  transform-origin: right center;
}
