.content {
   margin-top: var(--space-3);
}

.headingTitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2);
}

.close {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.changeList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.changeRow {
  padding-bottom: var(--space-4);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-1);
}

.cmsIcon{
  width: 15px;
  height: 15px;
  color: var(--gray-10);
}

.component1Icon{
  color: var(--purple-9);
}

.cubeIcon{
  color: var(--grass-8);
}

.fileIcon{
  color: var(--gray-10);
}

.changeRowRight {
  color: var(--gray-10);
}

.avatar {
  border: 1.5px solid var(--sky-11);
}

.changeRowRight button {
  all: unset;
}

.loading {
  padding-right: 10px;
}

.loading::after {
  position: absolute;
  overflow: hidden;
  width: 0;
  content: "\2026";
  animation: ellipsis steps(4, end) 900ms infinite;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
