.search {
  flex-grow: 1;
}
.path {
  color: var(--gray-11)
}

.item {
  border-radius: var(--radius-3);
   .optionsButton:not([data-state="open"]) {
    visibility: hidden;
   }
}
.item:hover,
.item:focus-within {
  background: var(--slate-a3);
  .optionsButton {
    visibility: visible;
  }
}

.pageLink {
  cursor: pointer;
}
