.contextualPanel {
  position: fixed;
  top: calc(var(--topbar-height) + var(--topbar-space-below));
  right: var(--sidebar-space-side);
  width: var(--sidebar-right-width);
  height: var(--sidebar-height);
  padding: var(--space-4) 0;
}

.segmentedControlRoot {
  margin-bottom: 24px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.tabRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.scrollArea [data-radix-scroll-area-viewport] > * {
  max-width: 100%;
}
