<sl-tab {{ attributes }}
{% if panel %}panel="{{ panel }}"{% endif %}
{% if active %}active{% endif %}
{% if closable %}closable{% endif %}
{% if disabled %}disabled{% endif %}>
  {{ label }}
</sl-tab>
