[data-component-id="experience_builder:one_column"] {
  .width-full {
    overflow: visible;
    width: 100vw;
    max-width: 100%;
  }

  .width-wide {
    width: 80%;
  }

  .width-normal {
    width: 65%;
  }

  .width-narrow {
    width: 50%;
  }
}
