.my-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;
}

.my-hero__heading {
  margin: 0.5em 0;
  color: #333;
  font-size: 3em;
}

.my-hero__subheading {
  margin: 0.5em 0;
  color: #666;
  font-size: 1.5em;
}

.my-hero__actions {
  margin-top: 1em;
}

.my-hero__cta {
  margin: 0 10px;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  font-size: 1em;
}
.my-hero__cta:hover {
  background-color: #90989f;
}

.my-hero__cta--primary {
  background-color: #007bff;
}

.my-hero__cta--primary:hover {
  background-color: #5384b8;
}
